---
---
@charset "utf-8";

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  padding: 0;
  margin: 0;
  color: #212121;
  background: #fff;
  text-rendering: geometricPrecision;
  line-height: 24px;
  font-family: -apple-system, 'Segoe UI', 'Roboto', 'Helvetica Neue', sans-serif;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

body.debug {
  background-image: repeating-linear-gradient(
    to bottom,
    transparent 0px,
    transparent 23px,
    #DBE2EF 23px,
    #DBE2EF 24px
  );
}

a {
  color: #212121;
  text-decoration: none;
  border-bottom: solid 2px #ddd;
}

a:hover, a:focus {
  border-color: #4D6DE3;
}

h1, h2, h3 {
  margin-top: 24px;
  position: relative;
  top: 6px;
  margin: 24px 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul > li {
  position: relative;
  top: 5px;
  line-height: 24px;
}

p {
  position: relative;
  top: 6px;
  line-height: 24px;
  margin: 24px 0;
}

.content {
  padding: 0 24px;
  margin: 72px auto 48px auto;
  width: 100%;
  max-width: 960px;
}

.post {
  max-width: 720px;
}

.heading {
  position: relative;
  top: 6px;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  margin-bottom: 48px;
  > img {
    width: 100%;
    max-width: 466px;
  }
  &:after {
    position: relative;
    top: 16px;
    line-height: 48px;
    margin-top: 24px;
    content: "—";
    display: block;
  }
}

.post > ul {
  list-style: circle;
  margin-left: 42px;
}

/* Syntax */
figure {
  margin: 0;
  border-left: solid 2px #ddd;
  padding-left: 12px;
}

pre {
  position: relative;
}

code {
  font-size: 14px;
}

@media (max-width: 640px) {
  .content {
    margin: 48px 0;
  }
  .heading {
    font-size: 24px;
    line-height: 24px;
    margin: 24px 0;
    top: 3px;
    &:after {
      line-height: 24px;
      top: 6px;
    }
  }
  .heading > img {
    width: 90%;
  }
}
