
/* typography */
html {font-size: 1em;}

body {
  background-color: white;
  font-family: 'jaf-facitweb', sans-serif;
  font-weight: 300;
  line-height: 1.45;
  color: #333;
  overflow-x:hidden;
}

p {margin-bottom: 1.3em;}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: 600;
  line-height: 1.2;
}

h1 {
  margin: 0;
  font-size: 3.157em;
}

h2 {font-size: 2.369em;}

h3 {font-size: 1.777em;}

h4 {font-size: 1.333em;}

small, .font_small {font-size: 0.75em;}

*, *:after, *:before { box-sizing: border-box; }

strong { font-weight: 600; }

body { color: #212121; }

a { text-decoration: none; color: #3F51B5; } 

/* layout */
.wrapper { 
  width: 1140px; 
  padding: 3.9em;
  padding-right: 4.3em;
  transition: .3s ease; 
  -webkit-backface-visibility: hidden; /* ta safari */
  -webkit-transform-style: preserve-3d;
}

.content {
  font-size: 1.333em;
}

.main {
  padding: 1.3em 0;
}

.main:after, 
.main:before {
  content: "";
  display: block;
  width: 100%;
  clear: both;
}

.block {
  padding-right: 2.6em;
  margin-right: 1.3em;
  width: 290px;
  float: left;
  display: inline-block;
  vertical-align: top;
}

.block.last {
  margin-right: 1.3em;
}

.foo p,
.header p {
  font-weight: 400;
  margin-top: 0;
  margin-bottom: calc(2.369em *2);
}

.foo a,
.header a {
  display: inline-block;
  font-size: 0.89em;
  padding-right: 1em;
  color: #212121;
}

.foo a.last {
  padding-right: 0;
}

.foo {
  margin-top: 1.3em;
  position: relative;
  padding: 1.3em 0;
  text-align: left;
  font-size: 0.89em;
}

.foo h3 {
  margin: 0;
  padding: 0;
}

.js .wrapper {  opacity: 0; }
.js .placeholder { display: block; }
.js .me { display: none; }
.js .photo { opacity: 0; }

.wf-active .wrapper { opacity: 1; }

@media (max-width: 600px) {
  .wrapper {
    padding: 1.3em;
    max-width: 100%;
  }

  .block {
    width: 100%;
    padding-right: 0;
    margin-right: 0;
  }
}
