.content {
  padding: 0 24px;
  margin: 72px auto 48px auto;
  width: 100%;
  max-width: 720px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.col {
  flex: 0 0 45%;
  .full {
    flex: 0 0 100%;
  }
}
